body {
  background-color: rgb(229, 235, 236);
  font-family: Arial, sans-serif;
}

/* Header */
#my-header {
  color: darkred;
  text-align: center;
  font-size: 2.5em;
}

/* Table */
table {
  font-family: Arial, sans-serif;
  width: 70%;
}

td,
th {
  text-align: left;
  padding: 8px;
}


th {
  background-color: #ffcccb;
  color: black;
}